@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070101;
  color: #ffffff;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #070101;
}
::-webkit-scrollbar-thumb {
  background: #1B0606;
  border-radius: 99px;
  border: 1px solid #D42B2B;
}
